{% extends 'base.html.twig' %}

{% block title %}Details Blog {% endblock %}

{% block body %}
    <h1>Blog</h1>
    <h4>
        Titre :
    </h4>
    <div class="container-fluid">
      {{ blog.title }}
    </div>
    <h4>
        Contenu :
    </h4>
    <div class="container-fluid">
        {{ blog.content }}
    </div>
    <h4>
        Publié à :
    </h4>
    <div class="container-fluid">
        {{ blog.publishedAt|date('Y-m-d H:s:i' ) }}
    </div>

    {% if not blog.published %}
    <h4>
         Actions :
    </h4>
    <div class="container-fluid">
        <a href="{{ path('mark',{'id': blog.id})}}" class="btn btn-success"> Mask as </a>
    </div>
    {% endif %}
    <h4>
        Commentaires :
    </h4>
    {% set myVal = 0 %}
    {% for commentaire in commentaires %}
        {% set myVal = myVal + 1 %}


        <div class="container-fluid">
           * {{ commentaire.content }}



                    <a href="{{ path('remove',{'id': commentaire.id})}}" >
                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true">
                            </span>
                        </a>

        </div>

    {% endfor %}
    <h4>
        Nombre de commentaires :
    </h4>
    <div class="container-fluid" style="color:#0000FF">
        {{ myVal }} commentaires
    </div>

    {{ form(form,{'attr':{'novalidate':'novalidate'}}) }}


{% endblock body %}
